body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b6e7ff;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
  font-family: cursive;
}

.play {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-table;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.play:hover {
  background-color: #fff;
}

.play:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

