/* body{
background-color: yellow;
align-items: center;
text-align: center;
font-size: x-large;
font-family: 'Arial', sans-serif;
background-color: #f5f5f5;
color: #333;
margin: 0;
padding: 0;
}

.play {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff5722;
}
 */



 /* idx-sty.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b6e7ff;
}

h1 {
  text-align: center;
  color: #333;
  font-family: cursive;
}

.play {
  display: block;
  margin: 50px auto;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* background-color: #3498db; */
  border-radius: 50px;
  font-size: 1.5em;
  animation: colorChange 2s infinite;
  color: black;
  background-color: #f7f258;
  width: 100px; 
}
@keyframes colorChange {
 
  50% {
    background-color: #ff4747;
  }
}

