body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
  grid-gap: 5px;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 50px;
  background-color: #f03f3c;
  grid-area: nav;
}
aside {
  background-color: yellow;
  grid-area: aside;
  max-width: 200px;
}
main {
  background-color: red;
  grid-area: main;
}
#connectFourBoard {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  grid-template-rows: repeat(6, 1fr); /* 6 rows */
  grid-gap: 5px; /* Adjust the gap between cells as needed */
}
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.empty {
  background-color: #fff;
}

footer {
  background-color: #63d629;
  grid-area: footer;
}
